# Cloudflare
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=

# D1
D1_DATABASE_ID=

# R2
R2_BUCKET_NAME=

# Security
SESSION_SECRET=
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

# Store defaults
VITE_APP_NAME="DUNAMIS STORE"
VITE_TURNSTILE_SITE_KEY=
